spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/reservations_db
    username: reservations_user
    password: reservations_pass
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
